@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #FFCC33;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}